body {
  margin: 0;
}

* {
  font-family: "Gill Sans", sans-serif;
  color: rgb(103, 103, 103);
}

.opinion {
  text-align: center;
  position: absolute;
  left: 99%;
  top: 50%;
  transform: translate(-100%, -50%);
  height: 550px;
  width: 600px;
  padding: 50px;
  display: grid;
  gap: 10px;
  border-radius: 20px;
  border: rgb(205, 205, 205) solid 0.1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.opinion div {
  position: relative;
  width: 500px;
  height: 150px;
  padding: 0 50px;
  border-radius: 20px;
  border: rgb(205, 205, 205) solid 0.1px;
  transition: all 0.2s;
  text-align: center;
}
.opinion div:hover {
  border: rgb(119, 119, 119) solid 1px;
  background-color: rgb(251, 251, 251);
}
.opinion div p {
  transition: left, top 0.2s;
  margin: none;
  position: absolute;
  font-size: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.opinion div:hover p {
  font-size: 20px;
  left: 0%;
  top: 0%;
  position: relative;
  transform: translate(0%, 0%);
}
.choose {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0%);

  height: 0px !important;
  padding: 0px 0px;
  border: none !important;
  display: flex;
  justify-content: space-between;
}
.choose div {
  background-color: white;
  border: none;
  height: 0px;
  width: 0px;
  cursor: pointer;
  opacity: 0;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transition: all 0s;
}
.opinion div:hover .choose div {
  transition: all 0.3s;
  opacity: 1;
  border: rgb(205, 205, 205) solid 0.1px;
  height: 80px;
  width: 80px;
}
.opinion div .choose div:hover {
  border: rgb(119, 119, 119) solid 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;

  transform: translate(0%, -10%);
}
.chat {
  z-index: -1;
  opacity: 0;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 1s;
  height: 550px;
  padding: 50px 5vw;
  width: 90vw;
  scale: 110%;

  position: fixed;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}
.chat p {
  overflow-x: auto;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: aliceblue;
  position: relative;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}
#textChat {
  position: fixed;
  width: 0px;
  height: 50px;
  left: 50%;
  top: 100%;
  padding: 10px 40px;
  font-size: 23px;
  margin: 0;
  border: rgb(0, 0, 0) solid 0.1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  transition: width 1.2s;
  transform: translate(-50%, -50%);
}
#textChat:focus {
  outline: none;
  background-color: aliceblue;
}
.messages {
  bottom: 0;
  overflow-y: auto;
  position: relative;
  height: 100%;
}
